<div class="map-wrapper">
    @if (amenidadesService.cargando()) {
        <div class="loader-line-container">
            <div class="loader-progress-info">
                <div style="display: flex; flex-direction: column;">
                    <span class="loader-message">{{ amenidadesService.mensajeCarga() }}</span>
                    <span class="loader-sub-message">{{ amenidadesService.subMensaje() }}</span>
                </div>
                <span class="loader-percentage">{{ amenidadesService.progreso() | number:'1.0-0' }}%</span>
            </div>
            <div class="loader-track">
                <div class="loader-fill" [style.width.%]="amenidadesService.progreso()"></div>
            </div>
        </div>
    }

    <div id="map" class="map-container"></div>

    @if (exploradorService.terrenoSeleccionado()) {
        <app-terreno-detalle 
            [terreno]="exploradorService.terrenoSeleccionado()" 
            (cerrar)="cerrarPanel()">
        </app-terreno-detalle>
    }
</div>