:host {
  display: block;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(173, 198, 255, 0.2);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
